#Project dependencies
pandas==2.1.4
# Airflow dependencies
apache-airflow[async]==2.8.2
apache-airflow-providers-celery
apache-airflow-providers-http
apache-airflow-providers-postgres
apache-airflow-providers-redis

